
table {
    border-collapse: collapse;
    width: 100%;
    /* important for  merging the border so it doesnt look ugly w
    ith the little gaps */
}

table,
th,
td{
    border:1px solid black;
}
th,
td {
    padding:15px;
    text-align: left;

}
th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
